@import url(reset.css);
.barra{
    width: 100vw;
}
.barra_conteudo{
    background-color: rgba(10, 89, 121, 0.938);
    align-items: center;
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    box-shadow: 3px 5px 5px black;
}
#esqueci_senha{
    color: black;
}
.btn{
    background-color: rgba(74, 148, 245, 0.199);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.login button{
    border-radius: 5px;
}
.barra_info{
    width: 50vw;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 26px;
}